Repository ubie-oss/dbt-data-privacy, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, integration-tests, macros, core, docs, action

.github/labeler.yml:

# SEE ./github/workflows/labeler.yml
# SEE https://github.com/actions/labeler

# Related to CI
CI:
  - changed-files:
      - any-glob-to-any-file: 'ci/*'
      - any-glob-to-any-file: 'ci/**/*'
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'

# Related to dbt analysis
integration-tests:
  - changed-files:
      - any-glob-to-any-file: 'integration_tests/*'
      - any-glob-to-any-file: 'integration_tests/**/*'

# Related to dbt models
macros:
  - changed-files:
      - any-glob-to-any-file: 'macros/*'
      - any-glob-to-any-file: 'macros/**/*'

# Foundational changes
core:
  - changed-files:
      - any-glob-to-any-file: 'dbt_project.yml'

# Related to documentations
docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/*.md'
      - any-glob-to-any-file: 'docs/**/*.md'
      - any-glob-to-any-file: 'README.md'

action:
  - changed-files:
      - any-glob-to-any-file: 'action/*'
      - any-glob-to-any-file: 'action/**/*'

fix
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/consents/restricted_layer__dbt_data_privacy_restricted_layer_legacy__consents.sql
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/consents/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/orders/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/users/restricted_layer__dbt_data_privacy_restricted_layer_legacy__users.sql
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/users/schema.yml
Labels: integration-tests

fix
  integration_tests/macros/tests/public/test_generate_privacy_protected_models.sql
Labels: integration-tests

fix
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/consents/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/items/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/orders/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/users/schema.yml
Labels: integration-tests

Add `test_get_column_meta_block.sql`
  integration_tests/macros/tests/test_get_column_meta_block.sql
Labels: integration-tests

fix
  integration_tests/macros/tests/test_get_column_meta_block.sql
  integration_tests/macros/tests/test_macros.sql
  macros/utils/expressions/get_column_meta_block.sql
Labels: integration-tests, macros

Improve the integration tests for the legacy `meta` config (#91)
  integration_tests/Makefile
  integration_tests/macros/tests/public/test_generate_privacy_protected_models.sql
  integration_tests/macros/tests/test_get_column_meta_block.sql
  integration_tests/macros/tests/test_macros.sql
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/consents/restricted_layer__dbt_data_privacy_restricted_layer_legacy__consents.sql
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/consents/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/items/restricted_layer__dbt_data_privacy_restricted_layer_legacy__items.sql
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/items/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/orders/restricted_layer__dbt_data_privacy_restricted_layer_legacy__orders.sql
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/orders/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/users/restricted_layer__dbt_data_privacy_restricted_layer_legacy__users.sql
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/users/schema.yml
  macros/utils/expressions/get_column_meta_block.sql
Labels: integration-tests, macros

Remove tests with python 3.9
  .github/workflows/test-action.yml
  .github/workflows/unit-tests.yml
Labels: CI

Remove tests with python 3.9 (#92)
  .github/workflows/test-action.yml
  .github/workflows/unit-tests.yml
Labels: CI

Enhance `test-action.yml`
  .github/workflows/test-action.yml
Labels: CI

test
  .github/workflows/test-action.yml
Labels: CI

fix
  .github/workflows/test-action.yml
Labels: CI

remove the testing step
  .github/workflows/test-action.yml
Labels: CI

update
  .github/workflows/test-action.yml
Labels: CI

fix
  .github/workflows/test-action.yml
Labels: CI

Improve `test-action.yml` (#93)
  .github/workflows/test-action.yml
Labels: CI

Remove tests with dbt 1.7
  .github/workflows/test-action.yml
  .github/workflows/unit-tests.yml
Labels: CI

Support custom field alias (#89)
  docs/generate_models.md
  integration_tests/macros/tests/codegen/test_generate_privacy_protected_model_sql.sql
  integration_tests/macros/tests/codegen/test_generate_secured_model_schema_v2.sql
  integration_tests/macros/tests/codegen/test_generate_secured_model_schema_v2_legacy.sql
  integration_tests/macros/tests/test_macros.sql
  integration_tests/macros/tests/utils/expression/test_convert_restructured_column_to_expression.sql
  integration_tests/macros/tests/utils/expression/test_flatten_restructured_column_for_schema.sql
  integration_tests/macros/tests/utils/expression/test_flatten_restructured_columns_for_schema.sql
  integration_tests/macros/tests/utils/expression/test_get_column_alias.sql
  integration_tests/macros/tests/utils/expression/test_get_secured_columns_v2.sql
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer/consents/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer/orders/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer/users/schema.yml
  macros/codegen/generate_privacy_protected_model_sql.sql
  macros/utils/expressions/convert_restructured_column_to_expression.sql
  macros/utils/expressions/flatten_restructured_column_for_schema.sql
  macros/utils/expressions/flatten_restructured_columns_for_schema.sql
  macros/utils/expressions/get_column_alias.sql
  macros/utils/expressions/get_secured_restructured_column.sql
Labels: integration-tests, macros, docs

Remove tests with dbt 1.7 (#94)
  .github/workflows/test-action.yml
  .github/workflows/unit-tests.yml
Labels: CI

Test with dbt Fusion
  .github/workflows/unit-tests-dbt-core.yml
  .github/workflows/unit-tests-dbt-fusion.yml
Labels: CI

fix
  .github/workflows/unit-tests-dbt-core.yml
  .github/workflows/unit-tests-dbt-fusion.yml
Labels: CI

fix
  integration_tests/resources/vars/vars-bigquery.basic.json
Labels: integration-tests

Improve get_tags_by_original_file_paths.sql
  macros/public/get_tags_by_original_file_paths.sql
Labels: macros

fix
  macros/public/get_tags_by_original_file_paths.sql
Labels: macros

fix
  macros/public/get_tags_by_original_file_paths.sql
Labels: macros

Improve get_tags_by_original_file_paths.sql (#96)
  macros/public/get_tags_by_original_file_paths.sql
Labels: macros

Improve `get_tags_by_original_file_paths`
  macros/public/get_tags_by_original_file_paths.sql
Labels: macros

Fix macros to appropriately update array elements with namespace
  macros/codegen/generate_privacy_protected_model.sql
  macros/public/generate_privacy_protected_models.sql
  macros/system/get_data_privacy_objectives.sql
  macros/utils/graph/select_nodes_by_original_file_paths.sql
  macros/utils/graph/select_nodes_by_unique_ids.sql
  macros/utils/graph/select_nodes_with_data_privacy_meta.sql
Labels: macros

fix
  macros/public/get_tags_by_original_file_paths.sql
Labels: macros

fix
  macros/public/get_tags_by_original_file_paths.sql
Labels: macros

fix
  macros/public/get_tags_by_original_file_paths.sql
Labels: macros

Fix macros to appropriately update array elements with namespace (#98)
  macros/codegen/generate_privacy_protected_model.sql
  macros/public/generate_privacy_protected_models.sql
  macros/public/get_tags_by_original_file_paths.sql
  macros/system/get_data_privacy_objectives.sql
  macros/utils/graph/select_nodes_by_original_file_paths.sql
  macros/utils/graph/select_nodes_by_unique_ids.sql
  macros/utils/graph/select_nodes_with_data_privacy_meta.sql
Labels: macros

Set `legacy_schema` to false by default
  macros/public/generate_privacy_protected_models.sql
  macros/public/generate_privacy_protected_models.yml
Labels: macros

Apply suggestion from @yu-iskw
  .github/workflows/unit-tests-dbt-fusion.yml
Labels: CI

Try dbt Fusion
  .github/workflows/unit-tests.yml
Labels: CI

fix
  .github/workflows/unit-tests.yml
  integration_tests/resources/vars/vars-bigquery.basic.json
Labels: CI, integration-tests

fix
  integration_tests/dbt_project.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer/consents/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer/orders/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer/users/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/consents/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/items/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/orders/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/users/schema.yml
Labels: integration-tests

fix
  integration_tests/macros/tests/utils/expression/test_convert_restructured_column_to_expression.sql
Labels: integration-tests

fix
  integration_tests/macros/tests/utils/expression/test_convert_restructured_column_to_expression.sql
Labels: integration-tests

update
  .github/workflows/unit-tests.yml
Labels: CI

fix
  integration_tests/macros/tests/codegen/test_generate_privacy_protected_model_sql.sql
Labels: integration-tests
