Repository ubie-oss/dbt-data-privacy, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, integration-tests, macros, core, docs, action

Use auth action
  .github/workflows/unit-tests.yml
Labels: CI

update
  .github/workflows/unit-tests.yml
Labels: CI

Support dbt 1.9 (#83)
  .github/workflows/unit-tests.yml
  integration_tests/requirements/requirements-1.9.txt
Labels: CI, integration-tests

Update workflows
  .github/workflows/lint.yml
  .github/workflows/test-action.yml
  .github/workflows/unit-tests.yml
Labels: CI

update
  .github/workflows/test-action.yml
  .github/workflows/unit-tests.yml
Labels: CI

Revert "update"
  .github/workflows/test-action.yml
  .github/workflows/unit-tests.yml
Labels: CI

update
  .github/workflows/test-action.yml
  .github/workflows/unit-tests.yml
Labels: CI

Support dbt 1.9 (#83)
  .github/workflows/unit-tests.yml
  integration_tests/requirements/requirements-1.9.txt
Labels: CI, integration-tests

update
  .github/workflows/test-action.yml
  .github/workflows/unit-tests.yml
Labels: CI

jsonify the embedded `data_tests` (#78)
  integration_tests/macros/tests/codegen/test_generate_secured_model_schema_v2.sql
  macros/codegen/generate_secured_model_schema_v2.sql
Labels: integration-tests, macros

Revert "jsonify the embedded `data_tests` (#78)" (#79)
  integration_tests/macros/tests/codegen/test_generate_secured_model_schema_v2.sql
  macros/codegen/generate_secured_model_schema_v2.sql
Labels: integration-tests, macros

Add `CONTRIBUTING.md` (#80)
  CONTRIBUTING.md
Labels: none

update
  .github/workflows/test-action.yml
  .github/workflows/unit-tests.yml
Labels: CI

Update workflows
  .github/workflows/lint.yml
  .github/workflows/test-action.yml
  .github/workflows/unit-tests.yml
Labels: CI

Revert "update"
  .github/workflows/test-action.yml
  .github/workflows/unit-tests.yml
Labels: CI

Update workflows (#85)
  .github/workflows/lint.yml
  .github/workflows/test-action.yml
  .github/workflows/unit-tests.yml
Labels: CI

Support dbt-core 1.10
  .github/workflows/test-action.yml
  integration_tests/requirements/requirements-1.10.txt
Labels: CI, integration-tests

fix
  .github/workflows/unit-tests.yml
  README.md
Labels: CI, docs

Change the test cases
  integration_tests/macros/tests/codegen/test_generate_privacy_protected_model_sql.sql
  integration_tests/macros/tests/codegen/test_generate_secured_model_schema_v2.sql
  integration_tests/macros/tests/pseudonymization/test_get_secured_columns.sql
  integration_tests/macros/tests/public/test_generate_privacy_protected_models.sql
  integration_tests/macros/tests/test_has_sub_fields.sql
  integration_tests/macros/tests/utils/expression/test_contains_pseudonymized_unique_identifiers.sql
  integration_tests/macros/tests/utils/expression/test_convert_restructured_column_to_expression.sql
  integration_tests/macros/tests/utils/expression/test_flatten_restructured_column_for_schema.sql
  integration_tests/macros/tests/utils/expression/test_flatten_restructured_columns_for_schema.sql
  integration_tests/macros/tests/utils/expression/test_get_columns_by_policy_tag.sql
  integration_tests/macros/tests/utils/expression/test_get_secured_columns_v2.sql
  integration_tests/macros/tests/utils/expression/test_get_secured_restructured_column.sql
  integration_tests/macros/tests/utils/expression/test_restructure_columns.sql
  integration_tests/macros/tests/utils/test_convert_to_nested_dict.sql
Labels: integration-tests

Improve the macros
  docs/generate_models.md
  integration_tests/macros/tests/pseudonymization/test_get_secured_columns.sql
  integration_tests/macros/tests/public/test_generate_privacy_protected_models.sql
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer/consents/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer/items/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer/orders/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer/users/schema.yml
  integration_tests/scripts/generate_secured_models.sh
  macros/codegen/generate_privacy_protected_model.sql
  macros/codegen/generate_secured_model_schema_v2.sql
  macros/utils/expressions/flatten_restructured_column_for_schema.sql
  macros/utils/expressions/get_column_data_security_level.sql
  macros/utils/expressions/get_column_meta_block.sql
  macros/utils/expressions/get_columns_by_policy_tag.sql
  macros/utils/expressions/get_data_security_level.sql
  macros/utils/expressions/get_secured_columns.sql
  macros/utils/has_data_privacy_meta.sql
Labels: integration-tests, macros, docs

fix
  integration_tests/requirements/requirements-1.10.txt
Labels: integration-tests

update
  integration_tests/Makefile
Labels: integration-tests

Add unit tests for the backward compatibility
  integration_tests/macros/tests/codegen/test_generate_secured_model_schema_v2_legacy.sql
  integration_tests/macros/tests/pseudonymization/test_get_secured_columns_legacy.sql
  integration_tests/macros/tests/test_macros.sql
  integration_tests/macros/tests/test_macros_legacy.sql
  integration_tests/macros/tests/utils/expression/test_contains_pseudonymized_unique_identifiers_legacy.sql
  integration_tests/macros/tests/utils/expression/test_convert_restructured_column_to_expression_legacy.sql
  integration_tests/macros/tests/utils/expression/test_flatten_restructured_column_for_schema_legacy.sql
  integration_tests/macros/tests/utils/expression/test_flatten_restructured_columns_for_schema_legacy.sql
  integration_tests/macros/tests/utils/expression/test_get_columns_by_policy_tag_legacy.sql
  integration_tests/macros/tests/utils/expression/test_get_secured_columns_v2_legacy.sql
  integration_tests/macros/tests/utils/expression/test_get_secured_restructured_column_legacy.sql
  integration_tests/macros/tests/utils/expression/test_restructure_columns_legacy.sql
  integration_tests/macros/tests/utils/test_convert_to_nested_dict_legacy.sql
Labels: integration-tests

Support dbt-core 1.10 (#86)
  .github/workflows/test-action.yml
  .github/workflows/unit-tests.yml
  README.md
  docs/generate_models.md
  integration_tests/Makefile
  integration_tests/macros/tests/codegen/test_generate_privacy_protected_model_sql.sql
  integration_tests/macros/tests/codegen/test_generate_secured_model_schema_v2_legacy.sql
  integration_tests/macros/tests/pseudonymization/test_get_secured_columns_legacy.sql
  integration_tests/macros/tests/test_has_sub_fields.sql
  integration_tests/macros/tests/test_macros.sql
  integration_tests/macros/tests/test_macros_legacy.sql
  integration_tests/macros/tests/utils/expression/test_contains_pseudonymized_unique_identifiers_legacy.sql
  integration_tests/macros/tests/utils/expression/test_convert_restructured_column_to_expression_legacy.sql
  integration_tests/macros/tests/utils/expression/test_flatten_restructured_column_for_schema_legacy.sql
  integration_tests/macros/tests/utils/expression/test_flatten_restructured_columns_for_schema.sql
  integration_tests/macros/tests/utils/expression/test_flatten_restructured_columns_for_schema_legacy.sql
  integration_tests/macros/tests/utils/expression/test_get_columns_by_policy_tag.sql
  integration_tests/macros/tests/utils/expression/test_get_columns_by_policy_tag_legacy.sql
  integration_tests/macros/tests/utils/expression/test_get_secured_columns_v2_legacy.sql
  integration_tests/macros/tests/utils/expression/test_get_secured_restructured_column_legacy.sql
  integration_tests/macros/tests/utils/expression/test_restructure_columns_legacy.sql
  integration_tests/macros/tests/utils/test_convert_to_nested_dict_legacy.sql
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer/consents/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer/items/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer/orders/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer/users/schema.yml
  integration_tests/requirements/requirements-1.10.txt
  integration_tests/scripts/generate_secured_models.sh
  macros/codegen/generate_privacy_protected_model.sql
  macros/codegen/generate_secured_model_schema_v2.sql
  macros/utils/expressions/flatten_restructured_column_for_schema.sql
  macros/utils/expressions/get_column_data_security_level.sql
  macros/utils/expressions/get_column_meta_block.sql
  macros/utils/expressions/get_columns_by_policy_tag.sql
  macros/utils/expressions/get_data_security_level.sql
  macros/utils/expressions/get_secured_columns.sql
  macros/utils/has_data_privacy_meta.sql
Labels: CI, integration-tests, macros, docs

Add Makefile targets for the integration tests
  Makefile
Labels: none

Update
  integration_tests/Makefile
  integration_tests/profiles/profiles.yml
Labels: integration-tests

Enhance integration tests (#87)
  Makefile
  integration_tests/Makefile
  integration_tests/profiles/profiles.yml
Labels: integration-tests

Test with dbt Fusion
  .github/workflows/unit-tests-with-dbt-fusion.yml
Labels: CI

Test with dbt Fusion
  .github/workflows/unit-tests-with-dbt-fusion.yml
Labels: CI

update
  .github/workflows/unit-tests-with-dbt-fusion.yml
Labels: CI

fix
  .github/workflows/unit-tests-with-dbt-fusion.yml
  integration_tests/resources/vars/vars-bigquery.basic.json
Labels: CI, integration-tests

fix
  macros/codegen/generate_privacy_protected_model.sql
Labels: macros

Support custom field alias
  docs/generate_models.md
  integration_tests/macros/tests/codegen/test_generate_privacy_protected_model_sql.sql
  integration_tests/macros/tests/codegen/test_generate_secured_model_schema_v2.sql
  integration_tests/macros/tests/codegen/test_generate_secured_model_schema_v2_legacy.sql
  integration_tests/macros/tests/test_macros.sql
  integration_tests/macros/tests/utils/expression/test_convert_restructured_column_to_expression.sql
  integration_tests/macros/tests/utils/expression/test_flatten_restructured_column_for_schema.sql
  integration_tests/macros/tests/utils/expression/test_flatten_restructured_columns_for_schema.sql
  integration_tests/macros/tests/utils/expression/test_get_secured_columns_v2.sql
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer/consents/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer/orders/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer/users/schema.yml
  macros/codegen/generate_privacy_protected_model_sql.sql
  macros/utils/expressions/convert_restructured_column_to_expression.sql
  macros/utils/expressions/flatten_restructured_column_for_schema.sql
  macros/utils/expressions/flatten_restructured_columns_for_schema.sql
  macros/utils/expressions/get_column_alias.sql
  macros/utils/expressions/get_secured_restructured_column.sql
Labels: integration-tests, macros, docs

fix
  integration_tests/macros/tests/utils/expression/test_get_column_alias.sql
Labels: integration-tests

Fix the behavior for the `meta` config
  Makefile
  integration_tests/Makefile
  integration_tests/macros/tests/codegen/test_generate_secured_model_schema_v2_legacy.sql
  integration_tests/scripts/generate_secured_models.sh
  macros/codegen/generate_privacy_protected_model.sql
  macros/public/generate_privacy_protected_models.sql
Labels: integration-tests, macros

fix
  Makefile
  integration_tests/Makefile
  integration_tests/scripts/generate_secured_models.sh
Labels: integration-tests

fix
  macros/codegen/generate_secured_model_schema_v2_legacy.sql
Labels: macros

Fix the behavior for the `meta` config (#90)
  Makefile
  integration_tests/Makefile
  integration_tests/macros/tests/codegen/test_generate_secured_model_schema_v2_legacy.sql
  integration_tests/scripts/generate_secured_models.sh
  macros/codegen/generate_privacy_protected_model.sql
  macros/codegen/generate_secured_model_schema_v2_legacy.sql
  macros/public/generate_privacy_protected_models.sql
Labels: integration-tests, macros

fix
  integration_tests/macros/tests/codegen/test_generate_secured_model_schema_v2_legacy.sql
Labels: integration-tests

Improve the integration tests for the legacy `meta` config
  integration_tests/Makefile
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/consents/restricted_layer__dbt_data_privacy_restricted_layer_legacy__consents.sql
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/consents/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/items/restricted_layer__dbt_data_privacy_restricted_layer_legacy__items.sql
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/items/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/orders/restricted_layer__dbt_data_privacy_restricted_layer_legacy__orders.sql
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/orders/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/users/restricted_layer__dbt_data_privacy_restricted_layer_legacy__users.sql
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/users/schema.yml
Labels: integration-tests

.github/labeler.yml:

# SEE ./github/workflows/labeler.yml
# SEE https://github.com/actions/labeler

# Related to CI
CI:
  - changed-files:
      - any-glob-to-any-file: 'ci/*'
      - any-glob-to-any-file: 'ci/**/*'
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'

# Related to dbt analysis
integration-tests:
  - changed-files:
      - any-glob-to-any-file: 'integration_tests/*'
      - any-glob-to-any-file: 'integration_tests/**/*'

# Related to dbt models
macros:
  - changed-files:
      - any-glob-to-any-file: 'macros/*'
      - any-glob-to-any-file: 'macros/**/*'

# Foundational changes
core:
  - changed-files:
      - any-glob-to-any-file: 'dbt_project.yml'

# Related to documentations
docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/*.md'
      - any-glob-to-any-file: 'docs/**/*.md'
      - any-glob-to-any-file: 'README.md'

action:
  - changed-files:
      - any-glob-to-any-file: 'action/*'
      - any-glob-to-any-file: 'action/**/*'
