Repository ubie-oss/dbt-data-privacy, changes with the labels that .github/labeler.yml gives for each.
All labels: CI, integration-tests, macros, core, docs, action

.github/labeler.yml:

# SEE ./github/workflows/labeler.yml
# SEE https://github.com/actions/labeler

# Related to CI
CI:
  - changed-files:
      - any-glob-to-any-file: 'ci/*'
      - any-glob-to-any-file: 'ci/**/*'
      - any-glob-to-any-file: '.github/*'
      - any-glob-to-any-file: '.github/**/*'

# Related to dbt analysis
integration-tests:
  - changed-files:
      - any-glob-to-any-file: 'integration_tests/*'
      - any-glob-to-any-file: 'integration_tests/**/*'

# Related to dbt models
macros:
  - changed-files:
      - any-glob-to-any-file: 'macros/*'
      - any-glob-to-any-file: 'macros/**/*'

# Foundational changes
core:
  - changed-files:
      - any-glob-to-any-file: 'dbt_project.yml'

# Related to documentations
docs:
  - changed-files:
      - any-glob-to-any-file: 'docs/*.md'
      - any-glob-to-any-file: 'docs/**/*.md'
      - any-glob-to-any-file: 'README.md'

action:
  - changed-files:
      - any-glob-to-any-file: 'action/*'
      - any-glob-to-any-file: 'action/**/*'

fix
  integration_tests/macros/tests/codegen/test_generate_privacy_protected_model_sql.sql
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer/consents/schema.yml
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer_legacy/consents/schema.yml
Labels: integration-tests

fix
  macros/codegen/validate_relationships.sql
Labels: macros

fix
  .github/workflows/test-action-core.yml
  .github/workflows/test-action-fusion.yml
  .github/workflows/unit-tests-core.yml
  .github/workflows/unit-tests-fusion.yml
  .gitignore
  integration_tests/.gitignore
Labels: CI, integration-tests

fix
  .github/workflows/test-action-core.yml
  .github/workflows/test-action-fusion.yml
  .github/workflows/unit-tests-core.yml
Labels: CI

fix
  integration_tests/macros/tests/codegen/test_generate_privacy_protected_model_sql.sql
  integration_tests/macros/tests/codegen/test_generate_secured_model_schema_v2_legacy.sql
  integration_tests/macros/tests/pseudonymization/test_get_secured_columns_legacy.sql
  integration_tests/macros/tests/test_macros.sql
  integration_tests/macros/tests/test_macros_legacy.sql
  integration_tests/macros/tests/utils/expression/test_contains_pseudonymized_unique_identifiers_legacy.sql
  integration_tests/macros/tests/utils/expression/test_convert_restructured_column_to_expression.sql
  integration_tests/macros/tests/utils/expression/test_convert_restructured_column_to_expression_legacy.sql
  integration_tests/macros/tests/utils/expression/test_flatten_restructured_column_for_schema_legacy.sql
  integration_tests/macros/tests/utils/expression/test_flatten_restructured_columns_for_schema_legacy.sql
  integration_tests/macros/tests/utils/expression/test_get_columns_by_policy_tag_legacy.sql
  integration_tests/macros/tests/utils/expression/test_get_secured_columns_v2_legacy.sql
  integration_tests/macros/tests/utils/expression/test_get_secured_restructured_column_legacy.sql
  integration_tests/macros/tests/utils/expression/test_restructure_columns_legacy.sql
  integration_tests/macros/tests/utils/test_convert_to_nested_dict_legacy.sql
  integration_tests/requirements/requirements-1.11.txt
  integration_tests/requirements/requirements-1.6.txt
  integration_tests/requirements/requirements-1.7.txt
  integration_tests/requirements/requirements-1.8.txt
  integration_tests/requirements/requirements-1.9.txt
Labels: integration-tests

fix
  .github/workflows/unit-tests-fusion.yml
Labels: CI

preserve the order of fields
  integration_tests/macros/tests/utils/expression/test_convert_restructured_column_to_expression.sql
  macros/utils/expressions/convert_restructured_column_to_expression.sql
Labels: integration-tests, macros

fix
  macros/codegen/generate_privacy_protected_model_sql.sql
Labels: macros

fix
  action/generate_models.sh
Labels: action

fix
  .github/workflows/test-action-fusion.yml
Labels: CI

fix
  .github/workflows/test-action-core.yml
  .github/workflows/test-action-fusion.yml
Labels: CI

Fix the error
  macros/codegen/generate_privacy_protected_model_sql.sql
  macros/codegen/generate_secured_model_schema_v2.sql
  macros/codegen/generate_secured_model_schema_v2_legacy.sql
  macros/system/get_data_privacy_config_by_objective.sql
  macros/system/get_data_privacy_objectives.sql
  macros/utils/deep_merge_dicts.sql
  macros/utils/expressions/contains_pseudonymized_unique_identifiers.sql
  macros/utils/expressions/convert_to_secured_expressions.sql
  macros/utils/expressions/flatten_restructured_column_for_schema.sql
  macros/utils/expressions/flatten_restructured_columns_for_schema.sql
  macros/utils/expressions/get_columns_by_policy_tag.sql
  macros/utils/expressions/get_secured_columns.sql
  macros/utils/expressions/get_secured_columns_v2.sql
  macros/utils/expressions/get_secured_restructured_column.sql
  macros/utils/expressions/restructure_columns.sql
  macros/utils/expressions/restructure_secured_columns.sql
  macros/utils/has_sub_fields.sql
Labels: macros

fix
  integration_tests/models/restricted_layer/dbt_data_privacy_restricted_layer/consents/schema.yml
  macros/codegen/generate_secured_model_schema_v2.sql
Labels: integration-tests, macros

fix
  macros/codegen/generate_secured_model_schema_v2.sql
Labels: macros

Enhancement
  .claude/settings.local.json
  .claude/skills/lint-and-fix/SKILL.md
  .github/workflows/labeler.yml
  .github/workflows/lint.yml
  .github/workflows/test-action.yml
  .github/workflows/unit-tests.yml
  .pre-commit-config.yaml
  Makefile
  integration_tests/.gitignore
  integration_tests/.python-version
  integration_tests/Makefile
  integration_tests/dbt_project.yml
  integration_tests/logs/.gitkeep
  integration_tests/macros/test_utils/compact_string.sql
  integration_tests/macros/tests/system/generate_schema_name.sql
  integration_tests/noxfile.py
  integration_tests/profiles/profiles.yml
  integration_tests/pyproject.toml
  integration_tests/requirements/requirements-1.10.txt
  integration_tests/requirements/requirements-1.6.txt
  integration_tests/requirements/requirements-1.7.txt
  integration_tests/requirements/requirements-1.8.txt
  integration_tests/requirements/requirements-1.9.txt
  integration_tests/scripts/generate_secured_models.sh
  integration_tests/uv.lock
  macros/codegen/generate_privacy_protected_model_sql.sql
  macros/utils/drop_dataset.sql
Labels: CI, integration-tests, macros

update
  .claude/settings.json
  .cursor/rules/sandbox.mdc
  .cursor/sandbox.json
  action/generate_models.sh
  integration_tests/noxfile.py
Labels: integration-tests, action
